Repository appium/appium-inspector, pull requests merged in 2023-10, with the labels that each got.

#1133 fix: update xpath selector selection logic
  app/renderer/components/Inspector/Source.js
  app/renderer/util.js
  test/unit/util-specs.js
Labels: fix

#1147 feat: add recorder support for Python client v3
  app/renderer/lib/client-frameworks/python.js
Labels: enhancement

#1152 fix: improve error for invalid JSON in command argument
  app/renderer/components/Inspector/Commands.js
  assets/locales/en/translation.json
Labels: fix

#1155 fix: remove recorder support for 'wd' framework
  app/renderer/lib/client-frameworks/index.js
  app/renderer/lib/client-frameworks/js-wd.js
Labels: fix

#1158 fix: use relaxed syntax for `executeScript` argument
  app/renderer/components/Inspector/Commands.js
Labels: fix

#1157 feat: update Java recorder code
  app/renderer/lib/client-frameworks/java.js
Labels: enhancement, fix

#1162 fix: adjust highlighters for Android tablets
  app/renderer/lib/appium-client.js
Labels: fix

#1161 fix: update Java recorder syntax for executeScript
  app/renderer/lib/client-frameworks/java.js
Labels: fix
