Repository appium/appium-inspector, pull requests merged in 2023-11, with the labels that each got.

#1163 fix: adjust logic for Android highlighters
  app/renderer/lib/appium-client.js
Labels: fix

#1164 fix: adjustments for shared recorder framework code
  app/renderer/lib/client-frameworks/framework.js
  app/renderer/lib/client-frameworks/java.js
  app/renderer/lib/client-frameworks/js-oxygen.js
  app/renderer/lib/client-frameworks/js-wdio.js
  app/renderer/lib/client-frameworks/python.js
  app/renderer/lib/client-frameworks/robot.js
  app/renderer/lib/client-frameworks/ruby.js
Labels: fix

#1167 feat: update Python recorder code
  app/renderer/lib/client-frameworks/python.js
Labels: enhancement, fix

#1173 feat: update Ruby recorder code
  app/renderer/lib/client-frameworks/ruby.js
Labels: enhancement, fix

#1172 feat: update Robot Framework recorder code
  app/renderer/lib/client-frameworks/framework.js
  app/renderer/lib/client-frameworks/robot.js
  app/renderer/lib/client-frameworks/ruby.js
Labels: enhancement, fix

#1179 feat: update WDIO recorder code
  app/renderer/lib/client-frameworks/js-wdio.js
Labels: enhancement, fix

#1181 feat: add Java JUnit 5 recorder
  app/renderer/lib/client-frameworks/index.js
  app/renderer/lib/client-frameworks/java-common.js
  app/renderer/lib/client-frameworks/java-junit4.js
  app/renderer/lib/client-frameworks/java-junit5.js
Labels: enhancement

#1180 feat: update Oxygen recorder code
  app/renderer/lib/client-frameworks/js-oxygen.js
Labels: enhancement, fix

#1182 feat: add .NET NUnit recorder
  app/renderer/lib/client-frameworks/dotnet-nunit.js
  app/renderer/lib/client-frameworks/index.js
Labels: enhancement

#1197 chore(deps): remove @types/react-router-dom
  package-lock.json
  package.json
Labels: chore

#1200 chore(deps): remove ky
  app/renderer/actions/Session.js
  package-lock.json
  package.json
Labels: dependencies, chore

#1187 fix: resolve various recorder issues
  app/renderer/lib/client-frameworks/framework.js
  app/renderer/lib/client-frameworks/java-common.js
  app/renderer/lib/client-frameworks/js-oxygen.js
  app/renderer/lib/client-frameworks/js-wdio.js
  app/renderer/lib/client-frameworks/python.js
  app/renderer/lib/client-frameworks/robot.js
  app/renderer/lib/client-frameworks/ruby.js
Labels: fix

#1224 style: remove custom anticon :hover style
  app/renderer/components/Session/Session.css
Labels: fix
