Repository appium/appium-inspector, pull requests merged in 2023-08, with the labels that each got.

#1013 fix: resolve issue with leftover expand centroid
  app/renderer/components/Inspector/HighlighterRects.js
Labels: fix

#1014 fix: improve highlighter positions in webview
  app/renderer/lib/appium-client.js
  app/renderer/lib/webview-helpers.js
Labels: fix

#1016 fix: resolve issue with some commands not working
  app/renderer/components/Inspector/Commands.js
Labels: fix

#1021 feat: add button to save current application screenshot
  app/renderer/components/Inspector/Inspector.js
  assets/locales/en/translation.json
Labels: enhancement

#1000 fix: update code generation for Java and WDIO frameworks
  app/renderer/lib/client-frameworks/java.js
  app/renderer/lib/client-frameworks/js-wdio.js
Labels: fix

#1030 fix: do not open inspector screen if session creation fails
  app/renderer/actions/Session.js
  app/renderer/components/Session/Session.js
Labels: fix

#865 feat: add support for Sauce Labs' us-east-4 datacenter
  app/renderer/components/Session/ServerTabSauce.js
  assets/locales/en/translation.json
Labels: enhancement, third party

#1041 feat: improve Commands tab UX
  app/renderer/actions/Inspector.js
  app/renderer/components/Inspector/Commands.js
  app/renderer/components/Inspector/ElementLocator.js
  app/renderer/components/Inspector/Inspector.css
  app/renderer/components/Inspector/LocatedElements.js
  app/renderer/components/Inspector/shared.js
  app/renderer/reducers/Inspector.js
  assets/locales/en/translation.json
Labels: enhancement, fix
