Repository appium/appium-inspector, pull requests merged in 2024-03, with the labels that each got.

#1378 fix: correctly account for position and scroll values of webviews
  app/renderer/lib/appium-client.js
  app/renderer/lib/webview-helpers.js
Labels: fix

#1388 fix: add pcloudy:options for setting the 'source', username and apikey capability for pCloudy to comply with W3C
  app/renderer/actions/Session.js
  app/renderer/images/pcloudy_logo.svg
  assets/locales/en/translation.json
Labels: fix, i18n

#1389 fix: generate suggested locators upon selecting element instead of upon retrieving source
  app/renderer/actions/Inspector.js
  app/renderer/actions/Session.js
  app/renderer/components/ErrorBoundary/ErrorMessage.js
  app/renderer/components/Inspector/HighlighterRects.js
  app/renderer/components/Inspector/LocatedElements.js
  app/renderer/components/Inspector/SelectedElement.js
  app/renderer/components/Inspector/Source.js
  app/renderer/components/Inspector/shared.js
  app/renderer/containers/InspectorPage.js
  app/renderer/containers/SessionPage.js
  app/renderer/lib/appium-client.js
  app/renderer/reducers/Inspector.js
  app/renderer/utils/locator-generation.js
  app/renderer/utils/other.js
  app/renderer/utils/source-parsing.js
  test/unit/inspector-specs.js
  test/unit/util-specs.js
  test/unit/utils-locator-generation-specs.js
  test/unit/utils-other-specs.js
  test/unit/utils-source-parsing-specs.js
Labels: fix

#1390 fix: show spinner for element ID property until it is retrieved
  app/renderer/components/Inspector/SelectedElement.js
  app/renderer/reducers/Inspector.js
Labels: fix

#1396 fix: fallback to default server tab when unselecting current provider
  app/renderer/actions/Session.js
Labels: fix

#1394 feat: add suggested selector for UiAutomator strategy
  app/renderer/actions/Inspector.js
  app/renderer/components/Inspector/Inspector.css
  app/renderer/components/Inspector/SelectedElement.js
  app/renderer/utils/locator-generation.js
  app/renderer/utils/source-parsing.js
  test/unit/utils-locator-generation-specs.js
Labels: enhancement

#1402 chore: add dedicated files for constants
  app/renderer/actions/Inspector.js
  app/renderer/actions/Session.js
  app/renderer/components/AntdTypes.js
  app/renderer/components/ErrorBoundary/ErrorMessage.js
  app/renderer/components/Inspector/Commands.js
  app/renderer/components/Inspector/ElementLocator.js
  app/renderer/components/Inspector/GestureEditor.js
  app/renderer/components/Inspector/HeaderButtons.js
  app/renderer/components/Inspector/HighlighterCentroid.js
  app/renderer/components/Inspector/HighlighterRects.js
  app/renderer/components/Inspector/Inspector.js
  app/renderer/components/Inspector/LocatedElements.js
  app/renderer/components/Inspector/Recorder.js
  app/renderer/components/Inspector/SavedGestures.js
  app/renderer/components/Inspector/Screenshot.js
  app/renderer/components/Inspector/SelectedElement.js
  app/renderer/components/Inspector/SessionInfo.js
  app/renderer/components/Inspector/Source.js
  app/renderer/components/Session/CapabilityControl.js
  app/renderer/components/Session/CapabilityEditor.js
  app/renderer/components/Session/CloudProviderSelector.js
  app/renderer/components/Session/FormattedCaps.js
  app/renderer/components/Session/SavedSessions.js
  app/renderer/components/Session/ServerTabBitbar.js
  app/renderer/components/Session/ServerTabBrowserstack.js
  app/renderer/components/Session/ServerTabExperitest.js
  app/renderer/components/Session/ServerTabHeadspin.js
  app/renderer/components/Session/ServerTabKobiton.js
  app/renderer/components/Session/ServerTabLambdatest.js
  app/renderer/components/Session/ServerTabMobitru.js
  app/renderer/components/Session/ServerTabPcloudy.js
  app/renderer/components/Session/ServerTabPerfecto.js
  app/renderer/components/Session/ServerTabRemoteTestKit.js
  app/renderer/components/Session/ServerTabSauce.js
  app/renderer/components/Session/ServerTabTestingbot.js
  app/renderer/components/Session/Session.js
  app/renderer/constants/antd-types.js
  app/renderer/constants/commands.js
  app/renderer/constants/common.js
  app/renderer/constants/gestures.js
  app/renderer/constants/screenshot.js
  app/renderer/constants/session-builder.js
  app/renderer/constants/session-info.js
  app/renderer/constants/session-inspector.js
  app/renderer/constants/source.js
  app/renderer/lib/appium-client.js
  app/renderer/lib/client-frameworks/framework.js
  app/renderer/reducers/Inspector.js
  app/renderer/utils/locator-generation.js
  app/renderer/utils/other.js
Labels: chore

#1404 ci: update electron-builder and Azure pipeline configurations
  build/entitlements.mac.plist
  ci-jobs/package.yml
  ci-jobs/templates/package.yml
  electron-builder.json
  package.json
Labels: chore
