Repository appium/appium-inspector, pull requests merged in 2024-08, with the labels that each got.

#1586 fix: do not generate code for element searches if recording is turned off
  app/common/renderer/actions/Inspector.js
Labels: fix

#1587 chore: decouple shared code from main/renderer imports
  app/common/renderer/actions/Inspector.js
  app/common/renderer/actions/Session.js
  app/common/renderer/i18next.js
  app/common/renderer/polyfills.js
  app/common/renderer/reducers/Session.js
  app/common/shared/i18next.config.js
  app/common/shared/setting-defs.js
  app/electron/main/i18next.js
  app/electron/main/windows.js
Labels: chore

#1592 chore: store session settings in Redux
  app/common/renderer/actions/Inspector.js
  app/common/renderer/components/Inspector/Commands.jsx
  app/common/renderer/components/Inspector/Inspector.jsx
  app/common/renderer/reducers/Inspector.js
Labels: chore

#1595 fix: retrieve disableIdLocatorAutocompletion from settings
  app/common/public/locales/en/translation.json
  app/common/renderer/components/Inspector/LocatedElements.jsx
Labels: fix, i18n

#1597 fix: add missing tooltips in session builder
  app/common/public/locales/en/translation.json
  app/common/renderer/components/Session/CapabilityEditor.jsx
  app/common/renderer/components/Session/SavedSessions.jsx
  app/common/renderer/components/Session/Session.module.css
Labels: fix, i18n

#1596 feat: add infobox for elements at snapshotMaxDepth
  app/common/public/locales/en/translation.json
  app/common/renderer/components/Inspector/Inspector.module.css
  app/common/renderer/components/Inspector/SelectedElement.jsx
Labels: enhancement, i18n

#1604 chore(renovate): adjust Renovate config
  package.json
  renovate.json
Labels: chore

#1605 chore(renovate): tune Renovate config
  renovate.json
Labels: chore

#1606 docs(readme): update badges
  README.md
Labels: documentation

#1611 feat: replace native confirmation popups with antd popconfirms
  app/common/renderer/components/Inspector/SavedGestures.jsx
  app/common/renderer/components/Session/SavedSessions.jsx
Labels: enhancement

#1607 feat: improve UX for attaching to existing session
  app/common/renderer/actions/Session.js
  app/common/renderer/components/Session/AdvancedServerParams.jsx
  app/common/renderer/components/Session/AttachToSession.jsx
  app/common/renderer/components/Session/CloudProviders.jsx
  app/common/renderer/components/Session/SavedSessions.jsx
  app/common/renderer/components/Session/Session.jsx
  app/common/renderer/constants/session-builder.js
  app/common/renderer/reducers/Session.js
  app/common/renderer/utils/attaching-to-session.js
  docs/session-builder/assets/images/attach-to-session/attach-to-session.png
  docs/session-builder/assets/images/attach-to-session/found-session.png
  docs/session-builder/assets/images/attach-to-session/found-sessions.png
  docs/session-builder/attach-to-session.md
  test/unit/utils-attaching-to-session.spec.js
Labels: documentation, enhancement

#1613 fix: open most recent server type tab on app launch
  app/common/renderer/components/Session/Session.jsx
Labels: fix

#1616 fix: adjust tooltip for quit session button
  app/common/public/locales/en/translation.json
  app/common/renderer/components/Inspector/HeaderButtons.jsx
Labels: fix, i18n

#1491 feat: add support for export/import actions in json format
  app/common/public/locales/en/translation.json
  app/common/renderer/actions/Inspector.js
  app/common/renderer/components/Inspector/FileUploader.jsx
  app/common/renderer/components/Inspector/Inspector.jsx
  app/common/renderer/components/Inspector/Inspector.module.css
  app/common/renderer/components/Inspector/SavedGestures.jsx
  app/common/renderer/reducers/Inspector.js
  app/common/renderer/utils/other.js
  docs/session-inspector/assets/images/gestures/gestures-tab.png
  docs/session-inspector/gestures.md
  package-lock.json
Labels: documentation, enhancement, i18n

#1621 fix: prevent deletion of default pointer in gesture
  app/common/renderer/components/Inspector/GestureEditor.jsx
Labels: fix

#1620 feat: add tooltips to buttons in gestures tab
  app/common/public/locales/en/translation.json
  app/common/renderer/actions/Inspector.js
  app/common/renderer/components/Inspector/FileUploader.jsx
  app/common/renderer/components/Inspector/GestureEditor.jsx
  app/common/renderer/components/Inspector/SavedGestures.jsx
  app/common/renderer/utils/other.js
Labels: enhancement, i18n

#1623 feat: improve presentation of saved gestures table
  app/common/renderer/components/Inspector/SavedGestures.jsx
  app/common/renderer/components/Session/SavedSessions.jsx
Labels: enhancement

#1625 fix: adjust saved session JSON height to fit in container
  app/common/renderer/components/Session/Session.module.css
Labels: fix

#1627 fix: avoid overlap for add/delete capability button tooltips
  app/common/renderer/components/Session/CapabilityEditor.jsx
Labels: fix

#1629 docs: tune gesture builder docs
  docs/session-inspector/gestures.md
Labels: documentation

#1630 fix: resolve issue with incorrect app menu bar
  app/electron/main/windows.js
  docs/session-inspector/gestures.md
Labels: fix

#1632 fix: allow creating sessions for Selenium Grid devices
  app/electron/main/windows.js
Labels: fix

#1633 docs: add note about CORS in dev mode
  docs/contributing.md
Labels: documentation

#1636 chore: adjust xmldom wrappers for xmldom 0.9
  app/common/renderer/actions/Inspector.js
  app/common/renderer/utils/locator-generation.js
  app/common/renderer/utils/source-parsing.js
  package-lock.json
  package.json
  test/unit/utils-locator-generation.spec.js
  test/unit/utils-source-parsing.spec.js
Labels: dependencies, chore

#1634 chore: convert Electron modules to IPC
  app/common/renderer/components/ErrorBoundary/ErrorBoundary.jsx
  app/common/renderer/components/ErrorBoundary/ErrorMessage.jsx
  app/common/renderer/components/Inspector/HeaderButtons.jsx
  app/common/renderer/components/Inspector/Inspector.jsx
  app/common/renderer/components/Inspector/Recorder.jsx
  app/common/renderer/components/Inspector/SelectedElement.jsx
  app/common/renderer/components/Inspector/SessionCodeBox.jsx
  app/common/renderer/components/Session/Session.jsx
  app/common/renderer/polyfills.js
  app/electron/main/helpers.js
  app/electron/main/main.js
  app/electron/renderer/polyfills.js
  app/web/polyfills.js
Labels: chore
