Repository appium/appium-inspector, pull requests merged in 2024-09, with the labels that each got.

#1646 chore: refactor in preparation for session file handling changes
  app/common/renderer/actions/Inspector.js
  app/common/renderer/actions/Session.js
  app/common/renderer/components/Inspector/Inspector.jsx
  app/common/renderer/components/Inspector/SavedGestures.jsx
  app/common/renderer/components/Session/CapabilityControl.jsx
  app/common/renderer/components/Session/CapabilityEditor.jsx
  app/common/renderer/constants/session-builder.js
  app/common/renderer/reducers/Session.js
  app/common/renderer/utils/file-handling.js
  app/common/renderer/utils/other.js
  app/electron/main/helpers.js
  app/electron/renderer/polyfills.js
Labels: chore

#1651 chore: refactor session file handling
  app/common/public/locales/en/translation.json
  app/common/renderer/actions/Session.js
  app/common/renderer/components/Session/Session.jsx
  app/common/renderer/polyfills.js
  app/common/renderer/reducers/Session.js
  app/common/renderer/utils/file-handling.js
  app/electron/main/helpers.js
  app/electron/main/main.js
  app/electron/main/menus.js
  app/electron/main/windows.js
  app/electron/renderer/polyfills.js
  app/web/polyfills.js
  test/unit/utils-file-handling.spec.js
Labels: chore, i18n

#1655 chore: move electron-settings to IPC
  app/common/renderer/i18next.js
  app/common/renderer/polyfills.js
  app/electron/main/helpers.js
  app/electron/renderer/polyfills.js
  app/web/polyfills.js
  vite.config.mjs
Labels: chore

#1656 chore: fix support for `Attach to Session` for LambdaTest server
  app/common/renderer/actions/Session.js
Labels: chore

#1659 chore(deps): upgrade Electron to 31.4.0
  app/common/renderer/components/Inspector/Inspector.module.css
  app/common/renderer/components/Session/Session.module.css
  app/electron/main/windows.js
  docs/quickstart/requirements.md
  docs/troubleshooting.md
  package-lock.json
  package.json
  renovate.json
Labels: documentation, dependencies, chore

#1663 chore: improve DX
  app/common/renderer/store.js
  app/electron/main/debug.js
  app/electron/main/main.js
  app/electron/main/windows.js
  package-lock.json
  package.json
Labels: dependencies, chore

#1664 chore: build for ESM
  app/electron/main/updater.js
  app/electron/main/windows.js
  app/electron/preload/preload.mjs
  electron.vite.config.mjs
  package.json
Labels: chore

#1667 chore: update electron-debug, highlight.js, rimraf
  package-lock.json
  package.json
  renovate.json
Labels: dependencies, chore

#1668 chore: remove bluebird dependency
  app/common/renderer/constants/session-inspector.js
  app/common/renderer/lib/appium-client.js
  app/common/renderer/utils/file-handling.js
  ci-jobs/crowdin-update-resources.mjs
  package-lock.json
  package.json
Labels: dependencies, chore

#1673 chore: migrate to ESLint flat config
  .eslintignore
  .eslintrc.json
  app/common/renderer/.eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
Labels: dependencies, chore

#1676 feat: add button to save element screenshot
  app/common/renderer/components/Inspector/Inspector.module.css
  app/common/renderer/components/Inspector/SelectedElement.jsx
  docs/assets/images/session-inspector.png
  docs/session-inspector/assets/images/source/download-elem-screenshot.png
  docs/session-inspector/assets/images/source/selected-element.png
  docs/session-inspector/assets/images/source/source-tab.png
  docs/session-inspector/assets/images/source/timing-values.png
  docs/session-inspector/source.md
Labels: documentation, enhancement

#1690 feat: support attaching to Selenium Grid sessions
  app/common/renderer/actions/Session.js
  app/common/renderer/utils/attaching-to-session.js
  test/unit/utils-attaching-to-session.spec.js
Labels: enhancement

#1695 fix: resolve some screenshot Coordinates Mode issues
  app/common/renderer/components/Inspector/Screenshot.jsx
Labels: fix

#1698 fix: adjust calculation of element highlighter positions
  app/common/renderer/components/Inspector/Inspector.jsx
Labels: fix

#1699 fix: prevent Coordinates Mode from intercepting modals
  app/common/renderer/components/Inspector/Inspector.module.css
Labels: fix

#1703 chore(deps): rebuild lockfile
  package-lock.json
Labels: dependencies, chore

#1723 Revert "chore(deps): update dependency cheerio to v1.0.0"
  package-lock.json
  package.json
Labels: dependencies
