Repository appium/appium-inspector, pull requests merged in 2024-06, with the labels that each got.

#1483 fix: Add validation for duplicate capability name
  app/renderer/src/actions/Session.js
  app/renderer/src/assets/locales/en/translation.json
  app/renderer/src/components/Session/CapabilityEditor.jsx
  app/renderer/src/components/Session/FormattedCaps.jsx
  app/renderer/src/components/Session/Session.module.css
  app/renderer/src/reducers/Session.js
Labels: fix, i18n

#1485 feat: add locator details to find element results
  app/renderer/src/components/Inspector/Inspector.module.css
  app/renderer/src/components/Inspector/LocatedElements.jsx
Labels: enhancement, i18n

#1488 chore: update blocked dependency info
  package.json
  renovate.json
Labels: chore

#1489 chore: add some dev deps for types
  package-lock.json
  package.json
Labels: dependencies, chore

#1517 fix: adjust Crowdin sync path
  ci-jobs/crowdin-common.mjs
Labels: fix
