Repository appium/appium-inspector, pull requests merged in 2025-06, with the labels that each got.

#2123 refactor: upgrade antd to v5
  app/common/index.html
  app/common/renderer/Root.jsx
  app/common/renderer/assets/stylesheets/main.css
  app/common/renderer/assets/stylesheets/main.less
  app/common/renderer/assets/stylesheets/splash.css
  app/common/renderer/components/Inspector/GestureEditor.jsx
  app/common/renderer/components/Session/Session.module.css
  electron.vite.config.mjs
  package-lock.json
  package.json
  renovate.json
  vite.config.mjs
Labels: enhancement, dependencies

#2130 refactor: notification to hooks usage
  app/common/renderer/Root.jsx
  app/common/renderer/actions/Session.js
  app/common/renderer/components/Inspector/Commands.jsx
  app/common/renderer/components/Inspector/GestureEditor.jsx
  app/common/renderer/components/Notification.jsx
  app/common/renderer/utils/notification.js
Labels: chore

#2141 chore(deps): update prettier to v3.6.0
  docs/quickstart/starting-a-session.md
  package-lock.json
  package.json
Labels: documentation, dependencies, chore

#2146 fix: resolve error when switching saved caps set after closing session
  app/common/renderer/components/Session/CapabilityEditor.jsx
Labels: fix

#2147 fix: components and icons size
  app/common/renderer/Root.jsx
  app/common/renderer/assets/stylesheets/main.css
  app/common/renderer/components/Inspector/LocatedElements.jsx
  app/common/renderer/components/Session/Session.jsx
  app/common/renderer/components/Session/Session.module.css
Labels: fix
