Repository appium/appium-inspector, pull requests merged in 2025-03, with the labels that each got.

#1972 fix: ensure selected client framework dropdown values are in sync
  app/common/renderer/components/Inspector/Recorder.jsx
  app/common/renderer/components/Inspector/SessionCodeBox.jsx
Labels: fix

#1974 chore(deps): add more @types packages to dev dependencies
  package-lock.json
  package.json
Labels: dependencies, chore

#1965 feat: add Testcribe as a cloud provider
  README.md
  app/common/public/locales/en/translation.json
  app/common/renderer/assets/images/testcribe_logo.svg
  app/common/renderer/components/Session/CloudProviders.jsx
  app/common/renderer/components/Session/ServerTabTestcribe.jsx
  app/common/renderer/constants/session-builder.js
  app/common/renderer/lib/vendor/map.js
  app/common/renderer/lib/vendor/testcribe.js
Labels: documentation, enhancement, i18n

#1973 chore: refactor lib directory
  app/common/renderer/actions/Inspector.js
  app/common/renderer/components/Inspector/Inspector.jsx
  app/common/renderer/components/Inspector/Recorder.jsx
  app/common/renderer/components/Inspector/SessionCodeBox.jsx
  app/common/renderer/constants/session-inspector.js
  app/common/renderer/lib/appium/inspector-driver.js
  app/common/renderer/lib/client-frameworks/common.js
  app/common/renderer/lib/client-frameworks/dotnet-nunit.js
  app/common/renderer/lib/client-frameworks/index.js
  app/common/renderer/lib/client-frameworks/java-common.js
  app/common/renderer/lib/client-frameworks/java-junit4.js
  app/common/renderer/lib/client-frameworks/java-junit5.js
  app/common/renderer/lib/client-frameworks/js-oxygen.js
  app/common/renderer/lib/client-frameworks/js-wdio.js
  app/common/renderer/lib/client-frameworks/map.js
  app/common/renderer/lib/client-frameworks/python.js
  app/common/renderer/lib/client-frameworks/robot.js
  app/common/renderer/lib/client-frameworks/ruby.js
  app/common/renderer/reducers/Inspector.js
  app/common/renderer/utils/webview.js
  app/common/shared/setting-defs.js
  test/integration/client-actions.test.js
  test/unit/utils-webview.spec.js
  test/unit/webview-helpers.spec.js
Labels: chore

#1986 chore(deps): adjust Renovate for base-plugin package.json
  renovate.json
Labels: chore

#1990 chore: add '|| ^3.0.0-beta.0' to plugin
  plugins/package.json
Labels: chore

#1992 chore: refactor vendormap for clarity
  app/common/public/locales/en/translation.json
  app/common/renderer/lib/vendor/base.js
  app/common/renderer/lib/vendor/bitbar.js
  app/common/renderer/lib/vendor/browserstack.js
  app/common/renderer/lib/vendor/experitest.js
  app/common/renderer/lib/vendor/headspin.js
  app/common/renderer/lib/vendor/kobiton.js
  app/common/renderer/lib/vendor/lambdatest.js
  app/common/renderer/lib/vendor/local.js
  app/common/renderer/lib/vendor/mobitru.js
  app/common/renderer/lib/vendor/pcloudy.js
  app/common/renderer/lib/vendor/perfecto.js
  app/common/renderer/lib/vendor/remote.js
  app/common/renderer/lib/vendor/remotetestkit.js
  app/common/renderer/lib/vendor/robotqa.js
  app/common/renderer/lib/vendor/saucelabs.js
  app/common/renderer/lib/vendor/testcribe.js
  app/common/renderer/lib/vendor/testingbot.js
  app/common/renderer/lib/vendor/tvlabs.js
Labels: chore, i18n

#1997 chore: rebuild lockfile
  package-lock.json
Labels: dependencies, chore

#2000 docs: add plugin-related information
  README.md
  docs/contributing.md
  docs/overview.md
  docs/quickstart/index.md
  docs/quickstart/installation.md
  docs/quickstart/requirements.md
  docs/quickstart/starting-a-session.md
  docs/session-builder/server-details.md
  package.json
  plugins/README.md
Labels: documentation

#2018 feat: adjust Commands tab command list
  app/common/public/locales/en/translation.json
  app/common/renderer/actions/Inspector.js
  app/common/renderer/components/Inspector/Commands.jsx
  app/common/renderer/constants/commands.js
  app/common/renderer/lib/appium/inspector-driver.js
  app/common/renderer/lib/client-frameworks/common.js
  app/common/renderer/lib/client-frameworks/dotnet-nunit.js
  app/common/renderer/lib/client-frameworks/java-common.js
  app/common/renderer/lib/client-frameworks/java-junit4.js
  app/common/renderer/lib/client-frameworks/java-junit5.js
  app/common/renderer/lib/client-frameworks/js-oxygen.js
  app/common/renderer/lib/client-frameworks/js-wdio.js
  app/common/renderer/lib/client-frameworks/python.js
  app/common/renderer/lib/client-frameworks/robot.js
  app/common/renderer/lib/client-frameworks/ruby.js
Labels: enhancement, i18n
