Repository appium/appium-inspector, pull requests merged in 2025-08, with the labels that each got.

#2220 chore(deps): bump antd, electron, vite
  package-lock.json
  package.json
Labels: dependencies, chore

#2241 chore(deps): bump eslint-config-appium-ts to 2.0.0-rc.1
  package-lock.json
  package.json
Labels: dependencies, chore

#2244 chore: update Renovate config
  renovate.json
Labels: chore

#2235 feat: search app source
  app/common/public/locales/en/translation.json
  app/common/renderer/components/Inspector/Inspector.module.css
  app/common/renderer/components/Inspector/Source.jsx
Labels: enhancement, i18n

#2258 chore: set plugin requirements to Appium 3
  package.json
  plugins/package.json
Labels: chore

#2262 docs: update installation steps
  docs/quickstart/installation.md
Labels: documentation

#2266 chore: add style label support to autolabeler & release notes
  .github/labeler.yml
  .github/release.yml
Labels: chore

#2285 fix: adjust plugin version Express paths
  .gitignore
  plugins/index.mjs
Labels: fix
