Repository appium/appium-inspector, pull requests merged in 2025-07, with the labels that each got.

#2138 feat: dark theme
  app/common/public/locales/en/translation.json
  app/common/renderer/Root.jsx
  app/common/renderer/assets/images/browserstack_logo_dark.svg
  app/common/renderer/assets/images/kobiton_logo.svg
  app/common/renderer/assets/images/kobiton_logo_dark.svg
  app/common/renderer/assets/images/pcloudy_logo_dark.svg
  app/common/renderer/assets/images/robotqa_logo_dark.svg
  app/common/renderer/assets/images/sauce_logo.svg
  app/common/renderer/assets/images/sauce_logo_dark.svg
  app/common/renderer/assets/images/testcribe_logo_dark.svg
  app/common/renderer/assets/images/tvlabs_logo_dark.svg
  app/common/renderer/assets/stylesheets/main.css
  app/common/renderer/components/Inspector/HeaderButtons.jsx
  app/common/renderer/components/Inspector/Inspector.module.css
  app/common/renderer/components/Inspector/LocatedElements.jsx
  app/common/renderer/components/Session/CloudProviderSelector.jsx
  app/common/renderer/components/Session/CloudProviders.jsx
  app/common/renderer/components/Session/SavedSessions.jsx
  app/common/renderer/components/Session/Session.jsx
  app/common/renderer/components/Session/Session.module.css
  app/common/renderer/components/Session/ToggleTheme.jsx
  app/common/renderer/hooks/use-theme.jsx
  app/common/renderer/polyfills.js
  app/common/renderer/providers/ThemeProvider.jsx
  app/common/renderer/utils/highlight-theme.js
  app/common/shared/setting-defs.js
  app/electron/main/helpers.js
  app/electron/main/main.js
  app/electron/main/windows.js
  app/electron/renderer/polyfills.js
  app/web/polyfills.js
Labels: enhancement, i18n

#2159 chore: adjust deprecated antd properties
  app/common/renderer/components/Inspector/GestureEditor.jsx
Labels: chore

#2161 docs: add app settings page for theme & update images
  README.md
  docs/assets/images/inspector-window.png
  docs/assets/images/session-builder.png
  docs/assets/images/session-inspector.png
  docs/session-builder/app-settings.md
  docs/session-builder/assets/images/empty-session-builder.png
  docs/session-builder/assets/images/theme-selector.png
  docs/session-builder/index.md
  mkdocs.yml
Labels: documentation

#2170 chore: bump Node.js requirements (dev only)
  package-lock.json
  package.json
Labels: dependencies, chore

#2174 fix: do not pass process value to browser build
  app/common/renderer/actions/Session.js
  vite.config.mjs
Labels: fix

#2181 chore: refactor integrated web2driver code
  app/common/renderer/actions/Inspector.js
  app/common/renderer/actions/Session.js
  app/common/renderer/components/Inspector/HeaderButtons.jsx
  app/common/renderer/components/Inspector/LocatedElements.jsx
  app/common/renderer/components/Inspector/SelectedElement.jsx
  app/common/renderer/components/Inspector/SessionInfo.jsx
  app/common/renderer/components/Session/ServerTabCustom.jsx
  app/common/renderer/constants/webdriver.js
  app/common/renderer/lib/appium/driver.js
  app/common/renderer/lib/appium/inspector-driver.js
  app/common/renderer/lib/appium/session-driver.js
  app/common/renderer/lib/appium/session-element.js
  app/common/renderer/lib/appium/session-starter.js
  app/common/renderer/lib/appium/session.js
  app/common/renderer/reducers/Inspector.js
  test/integration/inspectordriver-actions.test.js
Labels: chore

#2195 feat: add commands to retrieve session commands, extensions & caps
  app/common/renderer/constants/commands.js
  app/common/renderer/lib/client-frameworks/dotnet-nunit.js
  app/common/renderer/lib/client-frameworks/java-common.js
  app/common/renderer/lib/client-frameworks/js-oxygen.js
  app/common/renderer/lib/client-frameworks/js-wdio.js
  app/common/renderer/lib/client-frameworks/python.js
  app/common/renderer/lib/client-frameworks/robot.js
  app/common/renderer/lib/client-frameworks/ruby.js
Labels: enhancement

#2200 feat: show lines between source tree nodes
  app/common/renderer/assets/stylesheets/main.css
  app/common/renderer/components/Inspector/Source.jsx
Labels: enhancement

#2198 feat: allow resizing/collapsing session builder panels
  app/common/renderer/components/Session/CapabilityEditor.jsx
  app/common/renderer/components/Session/SavedSessions.jsx
  app/common/renderer/components/Session/Session.module.css
Labels: enhancement

#2210 chore(renovate): update config
  renovate.json
Labels: chore

#2214 fix: adjust Windows icon
  build/icon.ico
Labels: fix
