Repository appium/appium-inspector, pull requests merged in 2025-01, with the labels that each got.

#1878 feat: enable appium-inspector as an appium plugin
  app/web/polyfills.js
  package.json
  plugins/README.md
  plugins/index.mjs
  plugins/package.json
  scripts/sync-plugin.mjs
Labels: enhancement

#1882 chore(deps): bump ESlint to v9 and update other lint-related packages
  app/common/renderer/actions/Inspector.js
  app/common/renderer/actions/Session.js
  app/common/renderer/components/Inspector/Inspector.jsx
  app/common/renderer/lib/appium-client.js
  app/common/renderer/lib/client-frameworks/dotnet-nunit.js
  app/common/renderer/lib/client-frameworks/java-common.js
  app/common/renderer/reducers/Inspector.js
  app/common/renderer/reducers/Session.js
  app/common/renderer/utils/file-handling.js
  app/common/renderer/utils/locator-generation.js
  app/electron/main/updater.js
  eslint.config.mjs
  package-lock.json
  package.json
  renovate.json
  test/e2e/pages/inspector-page-object.js
  test/e2e/pre-e2e.test.js
  test/integration/client-actions.test.js
  test/unit/utils-locator-generation.spec.js
Labels: dependencies, chore

#1884 fix: adjust java client tests from recorder
  app/common/renderer/lib/client-frameworks/java-common.js
  app/common/renderer/lib/client-frameworks/java-junit4.js
  app/common/renderer/lib/client-frameworks/java-junit5.js
Labels: fix

#1883 feat: add beta for testing and npm available
  plugins/index.mjs
  plugins/package.json
Labels: enhancement

#1894 chore: tidy up ESLint config
  eslint.config.mjs
  package-lock.json
  package.json
Labels: dependencies, chore

#1890 chore: update readme and add GHA to release the plugin
  .github/workflows/package.yml
  package.json
  plugins/README.md
  plugins/package.json
Labels: dependencies, chore

#1897 chore: revert import syntax for updater
  app/electron/main/updater.js
Labels: chore

#1898 chore: change devtools dependency & move it to dev dependencies
  app/electron/main/debug.js
  package-lock.json
  package.json
Labels: dependencies, chore

#1906 feat: add TV Labs cloud provider
  README.md
  app/common/public/locales/en/translation.json
  app/common/renderer/actions/Session.js
  app/common/renderer/assets/images/tvlabs_logo.svg
  app/common/renderer/components/Session/CloudProviders.jsx
  app/common/renderer/components/Session/ServerTabTVLabs.jsx
  app/common/renderer/constants/session-builder.js
Labels: documentation, enhancement, i18n

#1914 docs: update installation flow & macOS requirements
  docs/quickstart/assets/images/open-warning-macos.png
  docs/quickstart/assets/images/open-warning-sequoia.png
  docs/quickstart/assets/images/open-warning-windows.png
  docs/quickstart/assets/images/open-warning.png
  docs/quickstart/installation.md
  docs/quickstart/requirements.md
Labels: documentation

#1917 chore: run prettier
  docs/quickstart/installation.md
Labels: documentation, chore

#1920 chore: move /ci-jobs dir contents to /scripts dir
  package.json
  scripts/crowdin-common.mjs
  scripts/crowdin-sync-translations.mjs
  scripts/crowdin-update-resources.mjs
Labels: chore
